.header {
	height : 200px;
	background-color : lightgray;
	margin-bottom : 50px;
	border-style : solid;
	
}
.header p {
	font-size : 150px;
	font-family : sans-serif;
	text-align : center;
	background-color : inherit;
	color : RoyalBlue;
	margin : 0;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor : default;
}

.menu {
	float : left;
	border-style : solid;
	border-width : 3px;
}

.menu ul {
	list-style-type : none;
	padding : 20px;
}

input[type="button"] {
	background-color: darkgray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin : 3px;
	border-radius : 3px;
}

input[type="button"]:hover {
	filter : brightness(1.25);
	color: black;
	cursor : pointer;
}

input.selectedButton[type="button"] {
	background-color : red;
}

.content {
	display : block;
	float : left;
	margin-left: 35%;
}

.gameTile {
    width : 50px;
    height : 50px;
    float : left;
    border-style : solid;
    border-width : 1px;
}

.emptyTile {
    background-color : lightgray;
}

.blocking {
	border-style : none;
	padding : 1px;
}

.mouseOver {
    filter : brightness(1.5);
}

.selectedTile {
    background-color : lightgreen;
}

.commitedTile {
    background-color : SeaGreen;
}

.startTile {
    background-color : lightgreen;
	cursor : move;
}

.goalTile{
	background-color : PaleTurquoise;
}

.hOnlyTile {
	border-top-width : 10px;
	border-bottom-width : 10px;
	box-sizing : border-box;
	width : 52px;
	height : 52px;
}

.vOnlyTile{
	border-left-width : 10px;
	border-right-width : 10px;
	box-sizing : border-box;
	width : 52px;
	height : 52px;
}

.lineBreak {
    clear : both;
}